<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
    <h1>Your watch list</h1>
    <%= cl_image_tag("https://res.cloudinary.com/db9tbnapf/image/upload/v1658864462/yn6djp40rdgr8xn23x31.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
    <%= cl_image_tag("eh39zpwmjg7ez4nl46mo",
      width: 400, height: 300, crop: :fill) %>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<div class="container py-3">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-primary" %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
        <%= link_to "#{list.name}", list_path(list), class: "text-decoration-none" %>
    <% end %>
  </div>
</div>
