<div class="container py-5">
  <div class="row">
    <div class="bg-white rounded p-3 shadow">
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
